################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/apCaminhosEmMarte/.vs
/apCaminhosEmMarte/.vs/apCaminhosEmMarte.slnx/FileContentIndex
/apCaminhosEmMarte/.vs/apCaminhosEmMarte/FileContentIndex/98e14b2c-290f-49d9-be6b-5e3210d6abc4.vsidx
